<ul>
  <% error.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<%= form_with(model: error, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :game, '機種名' %>
    <%= f.text_field :game, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :problem, 'エラー内容' %>
    <%= f.text_area :problem, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :approach, 'どう対処したか' %>
    <%= f.text_area :approach, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name, '担当者' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit '登録する', class: 'btn btn-info btn-block' %>
<% end %>