<div class="container">
  <ul>
    <% @error.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @error, method: 'post', local: true) do |f| %>
    <div>
      <%= f.label :game, '機種名' %>
    </div>
    <div>
      <%= f.text_field :game, class: 'text' %>
    </div>
    <div>
      <%= f.label :problem, '起きたこと' %>
    </div>
    <div>
      <%= f.text_area :problem %>
    </div>
    <div>
      <%= f.label :approach, 'どう対処したか' %>
    </div>
    <div>
      <%= f.text_area :approach %>
    </div>
    <div>
      <%= f.label :name, '担当者' %>
    </div>
    <div>
      <%= f.text_field :name, class: 'text' %>
    </div>
    <%= f.submit '記録する', class: 'btn-primary' %>
  <% end %>
</div>