<div class="container">
<h1 class="text-center mb-4">メンテナンス詳細</h1>
<ul class="list-group mb-3">
  <li class="list-group-item bg-light">機種：<%= @maint.game %></li>
  <li class="list-group-item">メンテナンス内容：<%= @maint.content %></li>
  <li class="list-group-item bg-light">担当者：<%= @maint.name %></li>
  <li class="list-group-item">
    日付：<%= @maint.display_created_at %>(<%= time_ago_in_words(@maint.created_at) %>前)
  </li>
</ul>
  <%= link_to "メンテナンス一覧ページに戻る", maints_path %>
</div>